In [3]:
import pandas as pd
melbourne_file_path='melb_data.csv'
melbourne_data=pd.read_csv(melbourne_file_path)
melbourne_data.columns

Index(['Suburb', 'Address', 'Rooms', 'Type', 'Price', 'Method', 'SellerG',
       'Date', 'Distance', 'Postcode', 'Bedroom2', 'Bathroom', 'Car',
       'Landsize', 'BuildingArea', 'YearBuilt', 'CouncilArea', 'Lattitude',
       'Longtitude', 'Regionname', 'Propertycount'],
      dtype='object')

In [5]:
y=melbourne_data.Price
melbourne_features=['Rooms','Bathroom', 'Landsize','Longtitude','Lattitude']
X=melbourne_data[melbourne_features]
X.describe()

              Rooms      Bathroom       Landsize    Longtitude     Lattitude
count  13580.000000  13580.000000   13580.000000  13580.000000  13580.000000
mean       2.937997      1.534242     558.416127    144.995216    -37.809203
std        0.955748      0.691712    3990.669241      0.103916      0.079260
min        1.000000      0.000000       0.000000    144.431810    -38.182550
25%        2.000000      1.000000     177.000000    144.929600    -37.856822
50%        3.000000      1.000000     440.000000    145.000100    -37.802355
75%        3.000000      2.000000     651.000000    145.058305    -37.756400
max       10.000000      8.000000  433014.000000    145.526350    -37.408530