In [1]:
import pandas as pd
maisons_path='melb_data.csv'
maison_data=pd.read_csv(maisons_path)

In [2]:
maison_data.columns

Index(['Suburb', 'Address', 'Rooms', 'Type', 'Price', 'Method', 'SellerG',
       'Date', 'Distance', 'Postcode', 'Bedroom2', 'Bathroom', 'Car',
       'Landsize', 'BuildingArea', 'YearBuilt', 'CouncilArea', 'Lattitude',
       'Longtitude', 'Regionname', 'Propertycount'],
      dtype='object')

In [3]:
favo=['Rooms','Bathroom','Landsize','Lattitude','Longtitude']

In [4]:
x=maison_data.Price

In [5]:
Y=maison_data[favo]

In [6]:
Y.describe()

              Rooms      Bathroom       Landsize     Lattitude    Longtitude
count  13580.000000  13580.000000   13580.000000  13580.000000  13580.000000
mean       2.937997      1.534242     558.416127    -37.809203    144.995216
std        0.955748      0.691712    3990.669241      0.079260      0.103916
min        1.000000      0.000000       0.000000    -38.182550    144.431810
25%        2.000000      1.000000     177.000000    -37.856822    144.929600
50%        3.000000      1.000000     440.000000    -37.802355    145.000100
75%        3.000000      2.000000     651.000000    -37.756400    145.058305
max       10.000000      8.000000  433014.000000    -37.408530    145.526350

In [7]:
Y.head()

   Rooms  Bathroom  Landsize  Lattitude  Longtitude
0      2       1.0     202.0   -37.7996    144.9984
1      2       1.0     156.0   -37.8079    144.9934
2      3       2.0     134.0   -37.8093    144.9944
3      3       2.0      94.0   -37.7969    144.9969
4      4       1.0     120.0   -37.8072    144.9941

In [8]:
from sklearn.tree import DecisionTreeRegressor

In [9]:
data_model=DecisionTreeRegressor(random_state=1)

In [12]:
data_model.fit(Y,x)

DecisionTreeRegressor(criterion='mse', max_depth=None, max_features=None,
                      max_leaf_nodes=None, min_impurity_decrease=0.0,
                      min_impurity_split=None, min_samples_leaf=1,
                      min_samples_split=2, min_weight_fraction_leaf=0.0,
                      presort=False, random_state=1, splitter='best')

In [13]:
print("prise de decision pour 5 premiére maison")
print(Y.head())
print("les prediction sont:")
print(data_model.predict(Y.head()))

prise de decision pour 5 premiére maison
   Rooms  Bathroom  Landsize  Lattitude  Longtitude
0      2       1.0     202.0   -37.7996    144.9984
1      2       1.0     156.0   -37.8079    144.9934
2      3       2.0     134.0   -37.8093    144.9944
3      3       2.0      94.0   -37.7969    144.9969
4      4       1.0     120.0   -37.8072    144.9941
les prediction sont:
[1480000. 1035000. 1465000.  850000. 1600000.]

In [14]:
print(maison_data.head())

       Suburb           Address  Rooms Type      Price Method SellerG  \
0  Abbotsford      85 Turner St      2    h  1480000.0      S  Biggin
1  Abbotsford   25 Bloomburg St      2    h  1035000.0      S  Biggin
2  Abbotsford      5 Charles St      3    h  1465000.0     SP  Biggin
3  Abbotsford  40 Federation La      3    h   850000.0     PI  Biggin
4  Abbotsford       55a Park St      4    h  1600000.0     VB  Nelson

        Date  Distance  Postcode  ...  Bathroom  Car  Landsize  BuildingArea  \
0  3/12/2016       2.5    3067.0  ...       1.0  1.0     202.0           NaN
1  4/02/2016       2.5    3067.0  ...       1.0  0.0     156.0          79.0
2  4/03/2017       2.5    3067.0  ...       2.0  0.0     134.0         150.0
3  4/03/2017       2.5    3067.0  ...       2.0  1.0      94.0           NaN
4  4/06/2016       2.5    3067.0  ...       1.0  2.0     120.0         142.0

   YearBuilt  CouncilArea Lattitude  Longtitude             Regionname  \
0        NaN        Yarra  -37.7996    144.9984  Northern Metropolitan
1     1900.0        Yarra  -37.8079    144.9934  Northern Metropolitan
2     1900.0        Yarra  -37.8093    144.9944  Northern Metropolitan
3        NaN        Yarra  -37.7969    144.9969  Northern Metropolitan
4     2014.0        Yarra  -37.8072    144.9941  Northern Metropolitan

  Propertycount
0        4019.0
1        4019.0
2        4019.0
3        4019.0
4        4019.0

[5 rows x 21 columns]

In [15]:
w=pd.DataFrame({'Rooms':[2],'Bathroom':[1],'Landsize':[152.0],'Lattitude':[-35.7996],'Longtitude':[144.7996]})

In [16]:
print(w)

   Rooms  Bathroom  Landsize  Lattitude  Longtitude
0      2         1     152.0   -35.7996    144.7996

In [17]:
print("prise de decision pour w")
print(w)
print("les prediction sont:")
print(data_model.predict(w))

prise de decision pour w
   Rooms  Bathroom  Landsize  Lattitude  Longtitude
0      2         1     152.0   -35.7996    144.7996
les prediction sont:
[360000.]

In [18]:
w=pd.DataFrame({'Rooms':[2],'Bathroom':[1],'Landsize':[208.0],'Lattitude':[-37.7996],'Longtitude':[144.7996]})

In [19]:
print("prise de decision pour w")
print(w)
print("les prediction sont:")
print(data_model.predict(w))

prise de decision pour w
   Rooms  Bathroom  Landsize  Lattitude  Longtitude
0      2         1     208.0   -37.7996    144.7996
les prediction sont:
[350000.]

In [20]:
z=pd.DataFrame({'Rooms':[3],'Bathroom':[2],'Landsize':[208.0],'Lattitude':[-37.7996],'Longtitude':[144.7996]})

In [21]:
print("prise de decision pour z")

print("les prediction sont:")
print(data_model.predict(z))

prise de decision pour z
les prediction sont:
[450000.]

In [ ]:
z=pd.DataFrame({'Rooms':[3],'Bathroom':[2],'Landsize':[208.0],'Lattitude':[-37.7996],'Longtitude':[144.7996]})