In [1]:
import pandas as pd
pd.DataFrame({'Yes': [50, 21], 'No': [131, 2]})

   Yes   No
0   50  131
1   21    2

lecture de base pandas

#création de exemple

In [2]:
pd.DataFrame({'python': ['simple.', 'long.'], 'nodejs': ['compliqué', 'rapide']})

    python     nodejs
0  simple.  compliqué
1    long.     rapide

In [7]:
pd.DataFrame({'python': ['simple.', 'long.'], 'nodejs': ['compliqué', 'rapide']},
             index=['complexité', 'temp'])

             python     nodejs
complexité  simple.  compliqué
temp          long.     rapide

In [8]:
pd.Series([1, 2, 3, 4, 5])

0    1
1    2
2    3
3    4
4    5
dtype: int64